#addbook{
    padding:20px 10px 10px 5%
}

#addbook .fields{
    padding: 10px;
    margin-top: 10px;
    border:2px solid #443266;
    width:300px;
    border-radius: 4px;
    color: #443266;
}

#addbook #publish-btn{
    padding: 10px;
    margin-top: 10px;
    background-color: #443266;
    width:325px;
    color:white;
    font-size: medium;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

#addbook #publish-btn:hover{
    background-color: #C3C3E5;
    border-color: #C3C3E5;

}