#home{
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15rem;
    background:linear-gradient(to bottom,rgba(247, 247, 247, 0),rgb(255, 255, 255)),url('../assets/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home #heading{
    color:white;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 20px black;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#home #or{
    font-size: large;
}

#home #btns{
    display: grid;
    justify-content: space-evenly;
}

#home button{
    padding: 10px 20px;
    background-color:#443266 ;
    color:white;
    border:none;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}

#home button:hover{
    background-color: #C3C3E5;
}


@media screen and (max-width:592px) {
    #home{
        padding-top: 8rem;
        
    }
}

@media screen and (max-width:404px) {
    #home #heading{
        font-size: 2rem;
    }
    #home p{
        font-size: 15px;
    }
    
    #home #or{
        font-size: medium;
    }
}